ipython==7.11.1
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==5.2.0
jupyter-core==4.6.3
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.3.0
numpy==1.18.5
pandas==1.0.4
requests==2.24.0
scikit-learn==0.23.2
scipy==1.4.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow>=2.4.0
tensorflow-estimator==2.2.0
torch==1.6.0
torchvision==0.7.0
yellowbrick==1.1
